/*##CLIENTS##*/
.clients {
    position: relative;
    text-align: center;
}

.carrousel-container {
    height: 150px;
    overflow: hidden;
    width: 100%;
}
#left_scroll {
    display: inline-block;
    float: left;
    height: 150px;
    text-align: left;
    width: 8.33333%;
}
#left_scroll a {
    background: url("../img/left-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 150px;
    opacity: 0.7;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}
#left_scroll a:hover {
    background-position: left center;
    opacity: 1;
}
#right_scroll {
    display: inline-block;
    float: left;
    height: 100px;
    width: 8.33333%;
}
#right_scroll a {
    background: url("../img/right-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 150px;
    opacity: 0.7;
    outline: medium none;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}
#right_scroll a:hover {
    background-position: right center;
    opacity: 1;
}
#carousel_inner {
    float: left;
    margin-bottom: 30px;
    opacity: 0.85;
    overflow: hidden;
    width: 83.3333%;
}
#carousel_inner #carousel_ul {
    display: inline-block;
    left: -100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 9999px;
}
#carousel_inner #carousel_ul li {
    display: inline-table;
    float: left;
    height: 150px;
    margin-right: 0;
    margin-top: -20px;
    opacity: 0;
    width: 249px;
}
#carousel_inner #carousel_ul li a {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
#carousel_inner #carousel_ul li span {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
#carousel_inner #carousel_ul li img {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
}
#carousel_inner #carousel_ul .animated-carousel-li {
    margin-top: 0;
    opacity: 1;
    transition: all 0.6s ease-out 0s;
}
