/*===================================================================================*/
/*  WRAPPER                                                                            */
/*===================================================================================*/

#portfolio-wrap{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: 5000;
    display: none;
    overflow: hidden;
}

#portfolio-page{
    height: 100%;
    width: 100%;
    display: table;
}

#portfolio-page #portfolio-content{
    vertical-align: middle;
    display: table-cell;
}
#protfolio-control{
    margin: 40px 0 0;
}

#protfolio-control #prev-project,
#protfolio-control #close-project,
#protfolio-control #next-project{
    display: inline-block;
    font-size: 40px;
    color: #333;
    display: inline-block;
    margin-bottom: 40px;
}

/*===================================================================================*/
/*  PROJECT DETAILS                                                                  */
/*===================================================================================*/
#portfolio-items img{
    margin:0px !important;
}
.img img{
    width: 100%;
}
.single-portfolio img{
    width: 100%;
}

.project-desc h3{
    margin: 0 0 20px;
    text-align: center;
}
.project-desc .line-strong{
margin-bottom:20px;
}
.project-desc .list-details{
    margin: 0px 0px 20px 0px;
    padding: 0;
    list-style: none;
}
.project-desc .list-details li{
    padding: 10px 0;
    border-bottom: 1px dashed #FC6F5C;
}


.project-desc .list-details li i{
    margin-right: 10px;
}

.slider_container{
	position: relative;
	overflow: hidden;
	margin-bottom: 24px;
  max-width:640px;
  width:100%;
}
.slider_container .flex-direction-nav li{
	list-style: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
	right: -40px;
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
.slider_container .flex-direction-nav li:first-child{
	right: auto;
	left: -40px;
}
.slider_container:hover .flex-direction-nav li {
	right: 0;
}
.slider_container:hover .flex-direction-nav li:first-child {
	left: 0;
}
.slider_container .flex-direction-nav a{
	position: absolute;
	width: 40px;
	top: 0;
	bottom: 0;
	font-size: 0;
	line-height: 0;
}
.slider_container .flex-direction-nav a:after{
	display: block;
	position: absolute;
	content: "";
	width: 16px;
	height: 26px;
	background: url(../img/slider_controls.png) 0 bottom no-repeat;
	top: 50%;
	margin-top: -13px;
	left: 12px;
}
.slider_container .flex-direction-nav a.flex-next:after{
	left: auto;
	right: 12px;
	background-position: right bottom;
}
.slider_container .flex-direction-nav a:hover{
	background: transparent;
}
.slider_container .flex-direction-nav a:hover:after {
	background-position: 0 0;
}
.slider_container .flex-direction-nav a.flex-next{
	right: 0;
	left: auto;
}
.slider_container .flex-direction-nav a.flex-next:hover:after {
	background-position: right 0;
}
.slider_container ul.slides li {
	list-style: none;
	display: none;
}
.slider_container ul.slides{
	height: auto;
	overflow: hidden;
	margin: 0;
  padding:0;
}
.slider_container .flex-direction-nav {
	margin: 0;
}
/*===================================================================================*/
/*  PROJECT FILLER                                                                   */
/*===================================================================================*/

#portfolio-filter{
    margin-bottom: 30px;
}

.portfolio-filter-list {
	padding:0;
    margin: 0;
    overflow: hidden;
}

.portfolio-filter-list li {
    text-transform: uppercase;
    margin: 0px;
    display: inline-block;
}
.portfolio-filter-list li:after{
content: "/";
position: relative;
}
.portfolio-filter-list li:last-child:after{
content: "";
}
.portfolio-filter-list a {
    color: #000000;
    font-size: 11px;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-decoration: none !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.white a {
    color: #ffffff;
 }
.portfolio-filter-list a:hover {
    background-color: #ffffff;
    color:#000000;
    opacity: 1;
}

.portfolio-filter-list a.active {
    background-color: #FFFFFF;
    color:#000000;
}

/*===================================================================================*/
/*  PROJECT ITEMS                                                                    */
/*===================================================================================*/

.portfolio-items {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.portfolio-items article {
    overflow: hidden;
    position: relative;
    margin: 3px 3px 0 0;
}

.portfolio-items article *
{
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.portfolio-items article img
{
    width: 100%;
}

.portfolio-items article:hover img
{

    -moz-transform: scale(1.4) rotate(6deg);
    -ms-transform: scale(1.4 rotate(6deg));
    -webkit-transform: scale(1.4) rotate(6deg);
    transform: scale(1.4) rotate(6deg);
}

.portfolio-items article .overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #efefef;
    color: #000;
    top:0;
    left:0;
    opacity: 0;
    text-align: center;
    padding: 50px 10px;
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.portfolio-items .item-info {
    height: 100px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 97%;
}

.portfolio-items article .overlay i{
    font-size: 40px;
}

.portfolio-items article .overlay h3
{
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    color:#333333;
}


.portfolio-items article:hover .overlay
{
    opacity: 0.8;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.portfolio-items article .overlay span
{
    font-size: 11px;
    text-transform: uppercase;
}

/*===================================================================================*/
/*  ISOTOPE                                                                          */
/*===================================================================================*/

.isotope-hidden.isotope-item{
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item{
    z-index: 2;

    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
        -ms-transition-duration: 0.6s;
         -o-transition-duration: 0.6s;
            transition-duration: 0.6s;
}

.isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
        -ms-transition-property: height, width;
         -o-transition-property: height, width;
            transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: top, left, opacity;
         -o-transition-property: top, left, opacity;
            transition-property: transform, opacity;
}
#process{
padding-bottom:120px;
}
.process-flow > li {
    text-align: center;
    color:#ffffff;
    margin: 0 auto;
    max-width: 256px;
    opacity: 0.2;
    transition: opacity 0.7s ease-out 0s;
}
.process-flow > li.active {
    opacity: 1;
}
.process-flow > li p {
    margin-bottom: 0;
}
.process-node {
    background: none repeat scroll 0 0 rgba(254, 142, 34, 0);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    height: 100px;
    margin: auto;
    position: relative;
    transition: background 0.6s ease-out 0s;
    width: 100px;
    text-align: center;
}

.process-node i {
    font-size: 30px;
    color:#ffffff;
    opacity: 1;
    position: relative;
    top: 35px;
    transition: opacity 0.6s ease-out 0s;
}
.process-node i:last-child {
    opacity: 0;
}
.process-node.active {
    background: none repeat scroll 0 0 #FC6F5C;
}
.process-node.active i:first-child {
    opacity: 0;
}
.process-node.active i:last-child {
    opacity: 1;
}
.line {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    height: 7em;
    margin: auto;
    width: 4px;
}
.line.active .progress {
    height: 7em;
}
.progress {
    background: none repeat scroll 0 0 #ffffff;
    height: 0;
    transition: height 1.2s ease-out 0s;
    width: 100%;
}

/*No JS*/
.no-js .navbar {
    padding: 10px 0;
}
.no-js .navbar-transparent {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 #000000;
}

/**BUTTON**/
.btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-trans, a.btn-trans {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: medium none;
    color: #696969;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.25s ease-in-out 0s;
}
.btn-trans:hover, .btn-trans:focus {
    background-color: #EEEEEE;
    border: medium none;
    transition: background 0.25s ease-in-out 0s;
}
.btn-trans:active {
    cursor: pointer !important;
}
.btn-trans.btn-small {
    border-radius: 3px;
    font-size: 10px;
    padding: 5px 10px;
}
.btn-trans.btn-medium {
    border-radius: 3px;
    font-size: 21px;
    letter-spacing: 3px;
    padding: 16px 24px;
}
.btn-trans.btn-large {
    font-size: 16px;
    padding: 10px 24px;
}
.btn-trans.btn-border-w {
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid #ffffff;
    color: #ffffff;
}

.btn-trans.btn-border {
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid #3B3F50;
    color: #3B3F50;
}
.btn-trans.btn-border-w:hover, .btn-trans.btn-border-w:focus{
    background-color: #FFFFFF;
    color: #000000;
}
.btn-trans.btn-border:hover, .btn-trans.btn-border:focus {
    background-color: #3B3F50;
    border-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.btn-full {
    width: 100%;
}
