#g-about {
  background: $above-background;
  color: $above-text-color;
  padding: $section-padding 0;

  /* ##### ABOUT SECTION ##### */
  .name-title {
    width: 100%;
    max-width: 360px;
    margin: -20px auto 0;
    padding: 15px 15px 8px;
    background-color: rgba(59, 63, 80, 0.8);
  }

  .profile img {
    display: block;
    margin: 0 auto;
  }

  .name-title h2,
  .name-title h5 {
    color: #ffffff;
    text-align: center;
  }

  .name-title h2 {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    font-size: 36px;
    text-transform: uppercase;
  }

  .quoteline {
    font-family: oswald, Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .arrow-list {
    margin: 0;
    padding: 0;
    list-style: none outside none;
  }

  .arrow-list li:before {
    content: "\f054";
    font-family: 'fontawesome';
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    margin-right: 5px;
  }

  .counters-item {
    border: 1px solid #999999;
    width: 150px;
    height: 130px;
    margin: 0 2px 2px 0;
    float: left;
  }

  .counters-item i {
    margin-top: 16px;
    color: #666666;
  }

  .number-counters strong {
    font-family: oswald, Impact, 'Arial Narrow Bold', sans-serif;
    display: block;
    font-size: 40px;
    color: #666666;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -2px;
  }

  .services h4 {
    font-weight: 400;
    text-transform: uppercase;
  }

  .services-box .services-box-icon {
    border: 1px solid #999;
    color: #666666;
    display: inline-block;
    float: left;
    height: 60px;
    width: 60px;
    line-height: 60px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    left: 0;
    top: 5px;
    padding-top: 6px;
    transition: all 0.3s ease 0s;
  }

  .services-box .services-box-icon i.fa {
    font-size: 30px;
    position: relative;
    transition: all 0.3s ease 0s;
  }

  .services-box .feature-box-info {
    padding-left: 65px;
  }

  .service-box-info p {
    transition: all 0.3s ease 0s;
  }
  /* ##### CALLOUT AREA ##### */
  .bg-callout {
    background-color: #474D5D !important;
    color: #fff;
  }

  .fullwidth-section {
    padding-bottom: 80px;
    padding-top: 80px;
    position: relative;

    a.btn {
      margin: 20px 7px 0;
    }
  }
  /* ##### PARALLAX TITLE AREA ##### */
  .parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 0 60px;

    h4:after {
      background-color: #ffffff;
      content: "";
      display: block;
      height: 1px;
      margin: 20px auto 0;
      width: 40px;
    }
  }
}
@media print {
  #g-about {
    background: #fff !important;
    color: #000 !important;
  }
}
