#g-header {
	background: $header-background;
	color: $header-text-color;
    padding: $section-padding 0;
    position: relative;
    z-index: 10;

    @if $header-background-image {
        background: url($header-background-image) center center no-repeat;
        background-size: cover;

        @if $header-background-overlay == 'enabled' {
            &:before {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: "";
                z-index: -1;
                opacity: 0.85;

                @include linear-gradient(40deg, $accent-color-1, $accent-color-2);
            }
        }
    }

    a {
        color: fadeout($header-text-color, 40%);

        &:hover {
            color: fadeout($header-text-color, 20%);
        }
    }

    h2 {
        font-weight: 300;
        line-height: $core-line-height;

        @include breakpoint(large-mobile-range) {
            font-size: 1.35rem;
        }

        em {
            font-weight: $font-weight-medium;
        }

        &.large-heading {
            font-size: $h2-font-size * 2;

            @include breakpoint(tablet-range) {
                font-size: $h2-font-size * 1.25;
            }

            @include breakpoint(mobile-only) {
                font-size: $h2-font-size;
            }
        }
    }
		.owl-carousel .owl-item img {
		    height: 100vh;
		}
		.g-owlcarousel-item-title {
		  font-family: get-font-family($font-family-title);
		    font-size: 6vw;
		    line-height: 10vw;
		    text-transform: uppercase;
		    font-weight: $font-weight-medium;
		    margin: 0;
		    padding: 8px 35px 3px;
		    letter-spacing: -2px;
		    transition: all .5s ease 0s;
				@include breakpoint(mobile-only) {
					font-size: 9vw;
			    line-height: 9vw;
				}
		}

		.g-owlcarousel-item-desc {
			font-family: get-font-family($font-family-default);
		    font-size: 2vw;
		    line-height: 3vw;
		    font-weight: $font-weight-bold;
		    padding-bottom: 25px;
		    transition: all 0s ease 0s;
		    margin: 0;
				margin-top: -2vw;
		    letter-spacing: 0;
		    text-transform: uppercase;
				transition: all .5s ease 0s;
				@include breakpoint(mobile-only) {
					display: block;
					font-size: 3vw;
			    line-height: 4vw;
				}
		}

		.g-owlcarousel-item-content {
			padding: 0;
			border: 2px solid;
		}
}

@media print {
	#g-header {
		background: #fff !important;
		color: #000 !important;
	}
}
