#g-maincontent-bottom {
    background: $base-background;
    color: $base-text-color;
    padding: $section-padding 0;
}

@media print {
	#g-maincontent-bottom {
		background: #fff !important;
		color: #000 !important;
	}
}
