#g-testimonials {
	background: $testimonials-background;
	color: $testimonials-text-color;
	padding: $section-padding 0;
	position: relative;
	z-index: 10;

	@if $testimonials-background-image {
		background: url($testimonials-background-image) no-repeat center top;
		background-size: cover;
		background-attachment: fixed;

		@if $testimonials-background-overlay == 'enabled' {
			&:before {
				@include linear-gradient(40deg, $accent-color-1, $accent-color-2);
				opacity: 0.9;
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
			}
		}
	}

	.g-title {
		margin-bottom: 0;
	}
	.g-owlcarousel-item-content {
		margin-top: 10px;
		margin-bottom: 0;
		padding-top: 10px;
		padding-bottom: 0;
	}

	.owl-dots {
		position: static;

	}

	.g-owlcarousel-item-content-container {
		position: relative;
		margin: auto;
		width: 100%;

		.g-owlcarousel-item-desc {
			display: block;
			padding: 0;
			margin: 0;
		}
	}


	.g-owlcarousel-item-content-container {
	    backface-visibility: hidden;
	    margin: 0 auto;
	    overflow: hidden;
	    position: relative;
	    z-index: 1;
	}
	.g-owlcarousel-item-desc {
	    float: left;
	    color:#fff;
	}
	.g-owlcarousel-item-desc .author{
	 margin:0px 0px 6px 0px;
	 font-weight: bold;
	}
	.g-owlcarousel-item-desc .company a{
	    color:#fff;
	}
	.pagination {
	    position: absolute;
	    text-align: center;
	    top: 82px;
	    width: 100%;
	    z-index: 20;
	}
	.owl-dot {
	    background: none repeat scroll 0 0 #544B43;
	    border-radius: 20px;
	    box-shadow: none;
	    cursor: pointer;
	    display: inline-block;
	    height: 11px;
	    margin: 0 6px;
	    text-indent: -9999px;
	    width: 11px;
	}
	.owl-dot:hover {
	    background: none repeat scroll 0 0 #685C52;
	}
	.owl-dot:focus {
	    background: none repeat scroll 0 0 #685C52;
	}
	.owl-dot:active {
	    background: none repeat scroll 0 0 #685C52;
	}
	.g-owlcarousel-item-content-container, .g-owlcarousel-item-content-container .g-owlcarousel-item-desc {
	    height: 100%;
	    max-height: 200px;
	    max-width: 585px;
	    width: 100%;
	}
	.owl-dots {
	    position: relative;;
	    text-align: center;
	    top: 0;
	    width: 100%;
	    z-index: 20;
	}
	.owl-dots .owl-dot {
	    background: none repeat scroll 0 0 #D8D8D8;
	}
	.owl-dots .owl-dot:hover {
	    background: none repeat scroll 0 0 #333333;
	}
	.owl-dots .swiper-visible-switch {
	    background: none repeat scroll 0 0 #262626;
	}
	.owl-dots .swiper-active-switch {
	    background: none repeat scroll 0 0 #262626;
	}

	a {
		color: inherit;
		//color: lighten($accent-color-1, 20%);
		&:hover {
			color: inherit;
		}
	}

	h2:after {
		background-color: #ffffff;
		content: "";
		display: block;
		height: 1px;
		margin: 20px auto 0;
		width: 40px;
	}

}
@media print {
	#g-testimonials {
		background: #fff !important;
		color: #000 !important;
	}
}
